body, html{
  margin: 0;
  padding: 0;
}

.App {
  /* margin : 0 500px; */
  /* background-color: antiquewhite; */
}
.todolist-date > div  {
  /* position:absolute;
  margin: 5px;
  top:0;
  right:0; */

}
.todolist-date > div >button{
  margin: 3px;

}
.todolist-date{
  /* display: flex; */
  margin:0 12px;
  /* border: 1px solid blue; */
  font-size: 40px;
  font-weight: 700;
}
.background{
  /* display: flex; */
  /* position: fixed; */
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px lightseagreen;
  margin-top: 30px;
  color: black;
  background-color: lightseagreen;
}
.todolist-dayofweek{
  margin:0 12px;
  /* border: 1px solid blue; */
  font-size:20px;
  font-weight: 700;
}

.todolist-overview{
  margin:10px 12px;
  /* border: 1px solid blue; */
  font-size:20px;
  font-weight: 700;

  /* color : maroon; */
}


.todolist-items{

}
@media (min-width: 1300px){ 
  .todolist-items{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 4px;
    justify-content: center;
    grid-area: auto;
    min-width: 80%;


   }
   .todolist-item{
    padding : 8px 0px;
    margin: 12px 15px;
    border: 1px solid slategrey;
    border-radius: 10px;
    box-shadow: 5px 5px 10px slategrey;
    height:30vh;
    }
    .todolist-item-time{
      /* display: flex;
      align-items: center;
      justify-content: center; */
      
    }
  }
@media (max-width: 380px) {
  .todolist-date{
    /* display: flex; */
    margin:0 12px;
    /* border: 1px solid blue; */
    font-size: 30px;
    font-weight: 700;
  }
  /* width:30%; */
}

.todolist-item {
  padding: 8px 0px;
  margin:12px 15px;
  border : 1px solid slategrey;
  border-radius: 10px;
  box-shadow: 5px 5px 10px slategrey;
  
}
.todolist-hover{
  padding : 8px 0px;
  margin: 12px 15px;
  border: 5px solid slategrey;
  border-radius: 10px;
  box-shadow: 5px 5px 10px slategrey;
  
}
/* #itemlist-1{
  position:absolute;
} */
.todolist-item-content{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 100px;
  /* margin:0px; */
  /* border: 1px solid blue; */
}
.todolist-item-time{
  display: flow-root;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid black; */
  /* background-color: lightcyan; */
  /* border: 1px solid blue; */
}
.todolist-check {
  margin : 15px 50px 0px 0px;
  border: 1px solid black;
  min-width: 24px;
  min-height: 24px;
  
}
.todolist-Datetime{
  margin : 0 12px;
  text-align: right;
  font-size: 14px;
  /* background-color: lightcyan; */
  
}
.todolist-text {
  margin : 0 12px 0 0px;
  /* border: 1px solid black; */
  width: 100%;
  height: 20;
  font-size: 20px;
}

.todolist-delete {
  margin : 0 12px;
  /* border: 1px solid black; */
}

.circle-button {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right :70px;
  bottom:100px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  /* border:  5px solid seagreen; */
  font-size: 30px;
  color:#eee;
  background-color: seagreen;
}
.app-close {
  position:absolute;
  top:0px;
  text-align:right;
  /* margin: 10px; */
  font-size:24px;
  /* left: 20px; */
  width: 100%;
  height: 30px;
  background-color: lightseagreen;
}
.bottom-sheet{
   /* display: flex; */
  /* align-items: center;   */
   /* justify-content: center;  */
  width:100%;
  /* height:80px; */
  position: fixed;
  bottom: 160px;
  /* background-color: #eee; */
}
.bottom-input{
    display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width:96%;
  height:100px;
  background-color: slategray;
}
.bottom-button{
  text-align: right;
  width:100%;
  /* height:1; */
  background-color: #eee;
}
.bottom-button > button{
  margin : 5px 5px 0px 5px;
}
.bottom-input > input{  
  display: flex;
  align-items: center; 
  justify-content: center;
  width :90%;
  height: 35px;
  margin :0 12px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 16px;

}
.bottom-sheet > button{
  /* justify-content: bottom; */
}
.todolist-check{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:32px;
  min-height:32px;
  margin-left: 10px;
  border-radius: 50%;
  border: 3px solid dimgray;
}

.todolist-done{
  color : lightseagreen;
  border: 3px solid lightseagreen;
  
}

.todolist-delete{
  color:  dimgray;
  font-size: 25px;
}
.todolist-cancel{
  margin-left : 10px;
  margin-right : 13px;
  color:  dimgray;
  font-size: 32px;
}
.text-done{
  color:gray;
  text-decoration: line-through;
}

