.loading-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.2)
    
}